@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@1,700&family=Roboto:wght@500&display=swap');
 :root {
    --main-color: white;
    --accent-color: rgba(231, 225, 225, 0.692);
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration-line: none;
}

body {
    margin: auto;
    max-width: 1440px;
    font-size: 16px;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
div,
a {
    color: var(--main-color);
}

p,
a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 18px;
}
img {
    display: block;
}
@media (min-width: 768px) {
    p, a {
        color: var(--accent-color);
        text-decoration: none;
        font-size: 25px;
    }
}

.decoration1 {
    background: rgba(255, 255, 255, 0.14);
    height: 3px;
    width: 54%;
    margin-top: 150px;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
    margin-top: 30px;
}

.container-header {
    display: grid;
    grid-template-columns: 1fr;
}

.btn-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn-header-box {
    display: flex
}

.tytle {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.main-header p {
    font-family: "Hind Vadodara,sans-serif;";
    font-weight: 400;
    line-height: 1,5;
    font-size: 22px;
    font-style: inherit;
}
h1 {
    font-family: 'Poppins,sans-serif';
    font-weight: 700;
    font-size: 56px;
    height: 180px;
    font-style: normal
}
.header-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    padding-top: 50px;
    margin-right: 30px;
}
.cap {
    display: none;
}

.header_nav {
    display: none;
}

.header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 50px;
    cursor: pointer;
}

.header_burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 22px;
}

.header_burger:before,
.header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}

.header_burger:before {
    top: 6px;
}

.header_burger:after {
    bottom: 10px;
}
.js_menu {
    display: none;
}
ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: larger;
    font-style: initial;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(1, 154, 255);
    font-weight: 800;
    margin-left: 50px;
    line-height: 60px;
}

header {
    background-image: url(../img/big-main.jpg);
    filter: brightness(50%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

main {
    background-color: rgb(34, 33, 33);
    height: 2800px;
}

#about {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: row;
    padding-top: 30px;
}
.info-box {
   display: flex;
    flex-direction: raw;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: max-content;
    justify-content: center;*/
    height: 1200px;
    padding: 20px;
    size: 60%;
    font-size: 20px;
}

.info1,
.info2,
.info3 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    border: 2px;
    border-color: rgba(0, 0, 0, 0.068);
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    margin: 20px;
   
}
@media (min-width: 490px) {
    .info-box {
        height: 850px;
        display: grid;
        grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
    .info-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        height: 1000px;
}
@media (min-width: 990px) {
    .info-box {
   /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; */
    height: 500px;
    padding: 20px;
    size: 60%;
    font-size: 20px;
}
/*.info1,
.info2,
.info3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border: 2px;
    border-color: rgba(0, 0, 0, 0.068);
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    margin: 50px;
}*/
}


.info-box img {
    border-radius: 10px;
}



h2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 700;
}

/*container-products

 .d-block w-100 {
    width: 10%;
} */

/* .products img {
    display: block;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */


/*.container_products {
    width : 1300px;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
    flex-shrink: 0;
    border-radius: 15px;
    padding: 10px 40px;
    position: relative;
    */
    .galery {
     overflow: hidden;
     display: block;
     list-style-type: none;
     width: 1200px;
     display: flex;
     justify-content: center;
     margin-left: 100px;
    }
   
    
    .carousel {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    transform: translateX();
    border-radius: 15px;
    border: 1px solid;
    width: 9999px;
    margin-left: -350px;
    }
    .carousel li {
        list-style-type: none;
        display: inline-block;
        flex: 0 0 auto;
        width: 300px;
        text-align: center;
        
    }
    .carousel img {
        position: relative;
        width: 150px;
     }
     .carousel button {
        position: absolute;
        top: 60px;
        border-radius: 15px;
        border: 1px solid;
        font-size: 24px;
        line-height: 24px;
        display: block;
    } 

.contact-us {
    background-image: url(../img/right.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    height: 700px;
}    

/*@media (min-width: 490px) {
    background-image: url(../img/right.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: grid;
    grid-template-rows: c;
}*/
.container-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    
}
.delivery img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

.delivery {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
/*@media (min-width: 490px) {
    
*/
footer {
    background-image: url(../img/big-main.jpg);
    filter: brightness(50%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.form {
    display: block;
    padding: 50px;
    background-color: rgba(49, 48, 48, 0.507);
    border-radius: 50px;
}

.contacts {
    display: block;
}

.form-contacts {
    display: flex;
    justify-content: space-around;
    height: 600px;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

.made-by {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

/* media */
@media (min-width: 768px) {
    .time {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        margin-top: 5px;
        border: 1px solid;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }
    .cap {
        display: flex;
        justify-content: space-around;
        background-color: rgba(31, 31, 32, 0.79);
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;   
    }
    .header-menu {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .header_burger {
        display: none;
    }
    .js_menu {
        display: none;
    }

    h1 {
        font-family: 'Poppins,sans-serif';
        font-weight: 700;
        font-size: 80px;
        height: 250px;
    }
    .container-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    ol {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    /*.header-menu {
        display: grid;
        grid-template-columns: 2fr 1fr 6fr;
        margin-top: 30px;
    }*/
}