body {
    background-color: black;
}

#item-products {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;

}

.galery {
margin-left: 10px;
margin-right: 10px;
overflow: hidden;

}
.container-products {  
    display: inline-block;
    position: relative;
    display: flex;
	justify-content: flex-start;
    margin-left: -900px; 
    
}

.prev {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    size: 20px;
    font-size: 30px;
    color: ivory;
    cursor: pointer;
    position: absolute;

}
.prev:hover {
    opacity: 0.5;
}
.slide {
display: grid;
justify-content: center;
justify-items: center;
border-radius: 50px;
margin: 10px;
color: white;
background-color: rgba(20, 20, 20, 0.342);
transition: margin-left 250ms;
transition: ease;
}

.slide img {
    position: relative;
    width: 100%;
}
.btn-buy {
max-width: 100px;
padding-left: 5px;
padding-right: 5px;
background-color: rgb(15, 91, 206);
border: 1px solid rgb(15, 91, 206);
border-radius: 15px;
min-height: 50px;
font-size: 12px;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
}
.btn-buy:hover {
    background: linear-gradient(to bottom, #33b3ca 5%, #a4cbcc 100%);
    background-color: #ffffff;
    border: oldlace;
}
.next {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    size: 20px;
    font-size: 30px;
    color: ivory;
    cursor: pointer;
    position: absolute;
    
}
.next:hover {
    opacity: 0.5;
}